PORT=5000
NODE_ENV=development
MONGO_URI=replace_me
JWT_ACCESS_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
EMAIL_USER=replace_me
EMAIL_PASS=replace_me
CLIENT_URL=https://securevault-smoky.vercel.app/